######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Visual Studio Code
######################
.vscode/

######################
# Gradle
######################
.gradle/
/build/

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar


######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

